.ax-app-nav{
    --ax-app-nav-bg-color: var(--ax-app-theme-nav-bg-color, #0EA5E9);
    --ax-app-nav-item-hover-bg-color: var(--ax-hover-primary, #3F4FA3);
    --ax-app-nav-item-hover-fg-color: var(--ax-active-primary, #35458F);
    --ax-app-nav-item-active-bg-color: var(--ax-hover-primary, #3F4FA3);
    --ax-app-nav-item-active-fg-color: var(--ax-active-primary, #35458F);
}

.ax-app-nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    overflow-x: visible;
    background-color: var(--ax-app-nav-bg-color);
    transition: width 0.5s ease-in-out;
    z-index: 9999;
}

.ax-app-nav-app-brand{
    position: relative;
    height: var(--ax-app-header-height);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 36px 0px 0px;
}

.ax-app-nav-app-brand-link,
.ax-app-nav-app-brand-link:hover,
.ax-app-nav-app-brand-link:active{
    text-decoration: none;
}

.ax-app-nav-expanded{
    width: var(--ax-app-nav-expanded-width);
}

.ax-app-nav-collapsed{
    width: var(--ax-app-nav-collapsed-width);
}

.ax-app-nav-toggle{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: right 0.8s ease-in-out;
}

.ax-app-nav-collapsed .ax-app-nav-toggle{
    right: -24px;
}

.ax-app-nav-expanded .ax-app-nav-toggle{
    right: 8px;
}